<footer class="{{narrow is defined ? 'container' : 'container-fluid'}} py-2 px-0 text-muted d-flex justify-content-between border-top border-2 mt-2">
	<span>{{app.name}}
		{{app.version}} | <a href="{{url_for('changelog')}}">Changelog</a> | <a href="{{url_for('privacy')}}">Privacy Policy</a></span>
	<span>
		<a class="icon-link" href="https://github.com/Statbus/statbus" target="_blank">
			<i class="fab fa-github" aria-hidden="true"></i>
			Github</a> |
		<a class="icon-link" href="https://discord.gg/37R9MkqG86" target="_blank">
			<i class="fab fa-discord" aria-hidden="true"></i>
			Discord</a>
	</span>
</footer>
</main>
</body>
</html>
