{% from 'macros/badge.html.twig' import PlayerBadge %}
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Statbus</title>
		<link href="/build/app.css?{{" now"|date('u')}}" rel="stylesheet">
		{{ webpack_entry_link_tags() }}
		{{ webpack_entry_script_tags() }}
	</head>
	<body data-bs-theme="dark">
		<nav class="navbar navbar-expand-lg tgui" data-bs-theme="dark">
			<div class="{{narrow is defined ? 'container' : 'container-fluid'}}">
				<a href="{{url_for('home')}}" style="height: 40px; width: 40px;" id="site-logo">
					{{include('assets/statbus-star.svg')}}
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						{# <li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li> #}
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								{% if user %}
									Logged in as
									{{PlayerBadge(user.getBadge)}}
								{% else %}
									Authenticate
								{% endif %}
							</a>
							<ul class="dropdown-menu">
							{% if user %}
								<li>
									<span class="dropdown-item disabled">Via
										{{user.getSource|capitalize}}</span>
								</li>
								<li><hr class="dropdown-divider"></li>
								<li>
									<a class="dropdown-item" href="{{url_for('logout')}}">Logout</a>
								</li>
								{% else %}
								<li>
									<a class="dropdown-item" href="{{url_for('auth.forum')}}">TGStation Forum</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{url_for('auth.discord')}}">Discord</a>
								</li>
								{% endif %}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<main class="{{narrow is defined ? 'container' : 'container-fluid'}}">
