<!doctype html>
<html lang="en" data-bs-theme="auto">
	<head>
			<script>
			// Render blocking JS:
			if (localStorage.theme) 
				document.documentElement.setAttribute("data-theme", localStorage.theme);
		</script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="/img/statbus.svg">
		<title>
			{% block title %}Statbus
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ webpack_entry_link_tags('app') }}
		{% endblock %}

		{% block scripts %}
			{{ webpack_entry_script_tags('app') }}
		{% endblock %}
		{% if app.analytics %}
			<script>
				{{ app.analytics|raw }}</script>
		{% endif %}
	</head>
	<body class="{{app.environment.name}}">
		{% include 'base/components/svgIcons.svg' %}
		{% for label, messages in flash %}
			{% for message in messages %}
				<div class="alert text-bg-{{label}} flash flash-{{ label }} alert-dismissible fade show" data-bs-dismiss="alert">
					<div class="container d-flex justify-content-between align-items-center">
						<span>{{ message }}</span>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container">
				<a href="{{url_for('home')}}" style="height: 40px; width: 40px;" id="site-logo" class="link-secondary">
					{{include('assets/statbus-star.svg')}}
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					{% include 'base/components/headerMenu.html.twig' %}
					{% include 'base/components/authMenu.html.twig' %}
				</div>
			</div>
		</nav>
		{% include 'base/components/banner.html.twig' %}
		<main class="container">
			{% if app.environment.announcement %}
				<div class="alert alert-{{app.environment.class}} mb-4">{{app.environment.announcement}}</div>
			{% endif %}
			{% block body %}{% endblock %}
			<footer class="container py-2 px-0 text-muted d-flex justify-content-between mt-2">
				{% include 'base/components/footerLinks.html.twig' %}
			</footer>
			{% if debug %}
				<div class="collapse border p-4" id="context">
					{{dump()}}
				</div>
			{% endif %}
		</main>
		{% include 'base/components/popovers.html.twig' %}
		{% include 'base/components/jsonModal.html.twig' %}
	</body>
</html>
