<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Statbus
			{% endblock %}
		</title>

		{% block stylesheets %}
			{{ webpack_entry_link_tags('app') }}
		{% endblock %}

		{% block scripts %}
			{{ webpack_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body data-bs-theme="dark" class="{{bodyClass}}{{debug ? ' debug'}}">
		{% for label, messages in flash %}
			{% for message in messages %}
				<div class="alert text-bg-{{label}} flash flash-{{ label }} alert-dismissible fade show" data-bs-dismiss="alert">
					<div class="{{narrow is defined ? 'container' : 'container-fluid'}} d-flex justify-content-between align-items-center">
						<span>{{ message }}</span>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				</div>
			{% endfor %}
		{% endfor %}
		<nav class="navbar navbar-expand-lg tgui {{debug ? 'text-bg-danger' : 'text-bg-primary' }} border-bottom border-dark">
			<div class="{{narrow is defined ? 'container' : 'container-fluid'}}">
				<a href="{{url_for('home')}}" style="height: 40px; width: 40px;" id="site-logo">
					{{include('assets/statbus-star.svg')}}
				</a>
				{% if debug %}
					<span class="badge text-bg-danger ms-2">DEV</span>
				{% endif %}
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					{% include 'base/components/headerMenu.html.twig' %}
					{% include 'base/components/authMenu.html.twig' %}
				</div>
			</div>
		</nav>
		<main class="{{narrow is defined ? 'container' : 'container-fluid'}}"> {% block body %}{% endblock %}
			<footer class="{{narrow is defined ? 'container' : 'container-fluid'}} py-2 px-0 text-muted d-flex justify-content-between mt-2">
			{% include 'base/components/footerLinks.html.twig' %}
			</footer>
			{% if debug %}
			<div class="collapse border p-4" id="context">
				{{dump()}}
			</div>
			{% endif %}
		</main>
		{% include 'base/components/popovers.html.twig' %}
	</body>
</html>
