{% from 'macros/badge.html.twig' import PlayerBadge, BanBadge, ServerBadge, RoundBadge %}
{% for t in tickets %}
	<a class="list-group-item ticket-list-entry {{t.isUrgent ? 'urgent'}}" href="{{url_for(link ?:'user.ticket',{round: t.getRound, ticket: t.getTicket})}}">
		<div class="d-flex w-100">
			{% if t.getBwoink %}
				<span class="badge vertical-label text-bg-danger">*BWOINK*</span>
			{% else %}
				<span class="badge vertical-label text-bg-success">*ADMINHELP*</span>
			{% endif %}
			<div class="flex-grow-1 ms-4">
				<div class="d-flex justify-content-between border-bottom mb-1 align-items-center">
					<h5 class="fw-bold lh-base">
						{{PlayerBadge(t.getSenderBadge,false)}}
						{% if t.getRCkey %}
							to
							{{PlayerBadge(t.getRecipientBadge,false)}}
						{% else %}
							to admins
						{% endif %}
						during
						{{RoundBadge(t.getRound, false)}}
						on
						{{ServerBadge(t.getServer)}}
						{{t.isUrgent ? '<span class="badge text-bg-danger">URGENT!</span>'}}
					</h5>
					<span class="flex-shrink-0">{{t.timestamp|date()}}</span>
				</div>
				<p class="mb-1">{{t.message}}</p>
			</div>
		</div>
	</a>
	{% else %}
	<p class="text-center mb-0">« No Tickets Located »</p>
{% endfor %}


