{% extends 'tgdb/page.html.twig' %}
{% from 'macros/badge.html.twig' import PlayerBadge, BanBadge, ServerBadge, RoundBadge %}
{% block breadcrumbs %}
	{{parent()}}
	<li class="breadcrumb-item">
		<a href="{{url_for('tgdb.player',{ckey:note.getCkey})}}">{{note.getCkey}}</a>
	</li>
	<li class="breadcrumb-item">
		<a href="{{url_for('tgdb.notes.player',{ckey:note.getCkey})}}" class="icon-link">
			<i class="fas fa-envelope"></i>
			Notes & Messages for
			{{note.getCkey}}</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		<i class="fas fa-envelope"></i>
		#{{note.getId}}
	</li>
{% endblock %}

{% block cardHeader %}
	<span>
		<i class="{{note.getType.getIcon}}" data-bs-title="{{note.getType.value|title}}" data-bs-toggle="tooltip"></i>
		{{note.getType.value|title}}
		for
		{{PlayerBadge(note.getTargetBadge)}}
		created by
		{{PlayerBadge(note.getAdminBadge)}}
	</span>
	<span>{{note.getTimestamp|date}}</span>
{% endblock %}

{% block cardSubHeader %}
	<div class="text-bg-{{note.getSeverity.getCssClass}} px-3 py-1 fw-bold">
		<i class="{{note.getSeverity.getIcon}}"></i>							
		{{note.getSeverity.getText}}
		{{note.getType.value|title}}
	</div>
	{% if note.isSecret %}
		<div class="text-bg-danger px-3 py-1 fw-bold">
		<i class="fa-solid fa-user-secret"></i>							
		This note is SECRET
	</div>
	{% endif %}
{% endblock %}

{% block cardBody %}
{% include 'notes/components/noteEntry.html.twig' %}
{% endblock %}
