{% from 'macros/badge.html.twig' import PlayerBadge, BanBadge, ServerBadge, RoundBadge %}

<p>Created
	{{note.timestamp|date()}}
	on
	{{ServerBadge(note.getServer)}}
	{% if note.getRound %}during
	{{RoundBadge(note.getround)}}
	{% else %}
	(This note is old enough that a round ID was not provided)
	{% endif %}
	</p>
<p class="border border-primary p-3 text-white">{{note.text|raw}}</p>
{% if note.getEdits %}
	<h5>Note Edits</h5>
	<div class="list-group">
		{% for e in note.getEdits %}
			<div class="list-group-item">
				<p class="mb-0">{{e|raw}}</p>
			</div>
		{% endfor %}
	</div>
{% endif %}
