{% macro PlayerBadge(badge) %}
<span class="playerBadge badge" 
	style="background:{{badge.getBackColor}}; color:{{badge.getForecolor}};" data-bs-title="{{badge.getTitle}}" 
	data-bs-toggle="tooltip" data-target-ckey="{{badge.getCkey}}">
		<i class="fas fa-{{badge.geticon}}"></i>
		{{badge.getckey}}
</span>
{% endmacro %}

{% macro BanBadge(status) %}
<span class="banBadge badge text-bg-{{status.getCssClass}}">
		{{status.value}}
</span>
{% endmacro %}

{% macro ServerBadge(server) %}
<span class="serverBadge badge text-bg-server" data-bs-toggle="tooltip" data-bs-title="{{server.getAddress}}:{{server.getPort}}">
		<img src="/img/server_icons/{{server.getIdentifier|lower}}.png" /> {{server.getIdentifier}}
</span>
{% endmacro %}

{% macro RoundBadge(round, url = true) %}
{% if url %}
<a class="roundBadge badge text-bg-round" href="{{url_for('round.single',{id: round})}}">
		<i class="fa-solid fa-circle"></i> {{round}}
</a>
{% else %}
<span class="roundBadge badge text-bg-round">
		<i class="fa-solid fa-circle"></i> {{round}}
</span>
{% endif %}
{% endmacro %}