{% macro PlayerBadge(badge, popover = true) %}
	<span class="playerBadge badge {{popover ? 'has-popover'}}" style="background:{{badge.getBackColor}}; color:{{badge.getForecolor}};" data-rank="{{badge.getTitle}}" data-bs-toggle="tooltip" data-target-ckey="{{badge.getCkey}}">
		<i class="fas {{badge.geticon}}"></i>
		{{badge.getckey}}
	</span>
{% endmacro %}

{% macro BanBadge(status) %}
	<span class="banBadge badge text-bg-{{status.getCssClass}}">
		{{status.value}}
	</span>
{% endmacro %}

{% macro ServerBadge(server) %}
{% if not server %}
<span class="serverBadge badge text-bg-server" title="Unable to determine the server">	
		<i class="fa-solid fa-circle-question"></i> Unknown
	</span>
{% else %}
	<span class="serverBadge badge text-bg-server" title="{{server.getAddress}}:{{server.getPort}}">
		<img src="/img/server_icons/{{server.getIdentifier|lower}}.png"/>
		{{server.getIdentifier}}
	</span>
{% endif %}
{% endmacro %}

{% macro RoundBadge(round, link = true) %}
	{% if link %}
		<a href="{{url_for('round.single',{id: round})}}" class="roundBadge badge text-bg-round" data-round-id="{{round}}">
			<i class="fa-solid fa-circle"></i>
			{{round}}
		</a>
		<div id="round-{{round}}-popover" style="display:none">
			<strong class="d-block">
				<i class="fa fa-fw fa-circle"></i>
				{{round}}
			</strong>
			<a class="link" href="https://statbus.space/rounds/{{round}}" target="_blank">Statbus</a><br>
			<a class="link" href="https://scrubby.melonmesa.com/round/{{round}}/" target="_blank">Scrubby</a>
			{% if user.has('ADMIN') %}
				<hr class="my-2">
				<a class="icon-link" href="{{url_for('tgdb.tickets.round',{round:round})}}">
					<i class="fas fa-ticket"></i>
					Tickets</a>
			{% endif %}
		</div>
	{% else %}
		<span class="roundBadge badge text-bg-round">
			<i class="fa-solid fa-circle"></i>
			{{round}}
		</span>
	{% endif %}
{% endmacro %}
