{% macro PlayerBadge(badge, popover = true) %}<span class="playerBadge badge" style="background:{{badge.getBackColor}}; color:{{badge.getForecolor}};" data-rank="{{badge.getTitle}}" data-url="{{url_for('player',{'ckey':badge.GetCkey})}}?format=popover">
		<i class="fas {{badge.geticon}}"></i>
		{{badge.getckey}}</span>{% endmacro %}

{% macro BanBadge(status) %}
	<span class="banBadge badge text-bg-{{status.getCssClass}}">
		{{status.value}}
	</span>
{% endmacro %}

{% macro ServerBadge(server) %}
	{% if not server %}
		<span class="serverBadge badge text-bg-secondary" title="Unable to determine the server">
			<i class="fa-solid fa-circle-question"></i>
			Unknown
		</span>
	{% else %}
		<span class="serverBadge badge text-bg-secondary" title="{{server.getAddress}}:{{server.getPort}}">
			<img src="/img/server_icons/{{server.getIdentifier|lower}}.png"/>
			{{server.getIdentifier}}
		</span>
	{% endif %}
{% endmacro %}

{% macro RoundBadge(round, link = true) %}
	{% if link %}
		<a href="{{url_for('round.single',{id: round})}}" class="roundBadge badge text-bg-dark icon-link" data-round-id="{{round}}">
			<i class="fa-solid fa-circle"></i>
			{{round ?: 'Invalid Round'}}
		</a>
		{% if round %}
			<div id="round-{{round}}-popover" style="display:none" class="round-popover">
				<strong class="d-block h5 fw-bold">
					<i class="fa fa-fw fa-circle"></i>
					{{round}}
				</strong>
				<a class="icon-link" href="{{url_for('round.single',{id:round})}}"><i class="fa fa-fw fa-circle"></i> Statbus</a><br>
				<a class="icon-link" href="https://scrubby.melonmesa.com/round/{{round}}/" target="_blank">
					<i class="fa-fw fa-solid fa-up-right-from-square"></i>
					Scrubby</a><br>
				<a href="{{url_for("round.logs.redirect",{id:round})}}" class="icon-link">
					<i class="fa-fw fa-solid fa-up-right-from-square"></i>
					Parsed Logs</a>
				{% if user.has('ADMIN') %}
					<hr class="my-2">
					<a class="icon-link" href="{{url_for('tgdb.tickets.round',{round:round})}}">
						<i class="fa-fw fas fa-ticket"></i>
						Tickets</a><br>
					<a href="{{url_for("round.logs.redirect",{id:round})}}?admin=true" class="icon-link">
						<i class="fa-fw fa-solid fa-up-right-from-square"></i>
						Raw Logs</a>
				{% endif %}
			</div>
		{% else %}
			<div id="round-{{round}}-popover" style="display:none">
				The round ID specified is invalid
			</div>
		{% endif %}
	{% else %}
		<span class="roundBadge badge text-bg-dark">
			<i class="fa-solid fa-circle"></i>
			{{round ?: 'Invalid Round'}}
		</span>
	{% endif %}

	{% macro JobBadge(badge) %}<span class="jobBadge badge" style="{{badge.style}}">
			<i class="{{badge.icon}}"></i>
			{{badge.name}}</span>{% endmacro %}

{% endmacro %}
