{% macro PlayerBadge(badge, popover = true) %}
	<span class="playerBadge badge {{popover ? 'has-popover'}}" style="background:{{badge.getBackColor}}; color:{{badge.getForecolor}};"  data-rank="{{badge.getTitle}}" data-bs-toggle="tooltip" data-target-ckey="{{badge.getCkey}}">
		<i class="{{badge.geticon}}"></i>
		{{badge.getckey}}
	</span>
{% endmacro %}

{% macro BanBadge(status) %}
	<span class="banBadge badge text-bg-{{status.getCssClass}}">
		{{status.value}}
	</span>
{% endmacro %}

{% macro ServerBadge(server) %}
<span class="serverBadge badge text-bg-server" title="{{server.getAddress}}:{{server.getPort}}">
		<img src="/img/server_icons/{{server.getIdentifier|lower}}.png" /> {{server.getIdentifier}}
</span>
{% endmacro %}

{% macro RoundBadge(round, popover = true) %}
{% if popover %}
<span class="roundBadge badge text-bg-round">
		<i class="fa-solid fa-circle"></i> {{round}}
</span>
{% endif %}
{% endmacro %}