{% macro pagination(nbPages = 5, currentPage = 1, url) %}
	{% set classes = '' %}
	{% set param = '' %}
	{% if not query %}
		{% set query = '' %}
	{% endif %}
	{% if nbPages > 1 %}
		{# Number of page around current page+1 #}
		{% set nearbyPagesLimit = 5 %}
		<nav>
			<ul class="pagination justify-content-center mb-0">
				<li class="page-item">
					<a class="page-link {{currentPage != 1 ?: 'disabled'}}" href="{{url}}{{query}}">First</a>
				</li>
				{% for i in 1..nbPages %}
					{% if 0 == (currentPage - nearbyPagesLimit) - loop.index %}
						{# dot before #}
					{% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %}
						{# dot after #}
					{% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %}
						{# hide all before #}
					{% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %}
						{# hide all after #}
					{% else %}
						<li class="page-item {{currentPage == loop.index ? 'active'}}">
							<a class="page-link" href="{{url}}{{param}}/page/{{loop.index}}{{query}}">{{ loop.index }}</a>
						</li>
					{% endif %}
				{% endfor %}
				<li class="page-item {{currentPage != nbPages ?: 'disabled'}}">
					<a class="page-link" href="{{url}}{{param}}/page/{{nbPages}}{{query}}">Last</a>
				</li>
			</ul>
		</nav>
		{% else %}
		<p class="text-center text-muted mb-0">Page 1 of 1</p>
	{% endif %}
{% endmacro %}
