{% extends 'base/components/section.html.twig' %}
{% block header %}
Basic Statistics
{% endblock %}
{% block body %}
{% for stat in stats %}
<h6 class="border-bottom pb-1" data-bs-toggle="collapse" data-bs-target="#collapse-{{stat.getKey}}" data-bs-target="#collapse-{{stat.getKey}}" aria-expanded="false" aria-controls="collapse-{{stat.getKey}}" title="Click to expand"><code>{{stat.getKey}}</code></h6>
    <div class="mb-2 collapse" id="collapse-{{stat.getKey}}">
    {% include [
        'stat/key/' ~ stat.getKey ~ '-' ~ stat.getVersion ~ '.html.twig', 
        'stat/key/' ~ stat.getKey ~ '.html.twig',
        'stat/type/' ~ stat.getType ~ '.html.twig', 
        'stat/generic.html.twig'
        ] with {'stat': stat, 'round':round.getId, 'server': round.getServer.getIdentifier} only %}
    </div>
{% endfor %}
{% endblock %}