{% from 'macros/badge.html.twig' import ServerBadge, RoundBadge %}
<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Server</th>
				<th>Result</th>
				<th>Map</th>
				<th>Started</th>
				<th>Duration</th>
				<th>Ended</th>
				<th>Threat</th>
			</tr>
		</thead>
		<tbody>
			{% for r in rounds %}
				<tr class="table-{{r.getState.cssClass}}">
					<td>{{RoundBadge(r.getId)}}</td>
					<td>{{ServerBadge(r.getServer)}}</td>
					<td title="{{r.getState.text}}">
						<i class="{{r.getState.icon}}" title="{{r.getMode|title ?: 'N/A'}}"></i>
						<span>{{r.getState.value|title}}</span>
					</td>
					<td>{{r.getMap}}</td>
					<td>{{r.getStartDatetime ? r.getStartDatetime|date() : 'N/A'}}</td>
					<td>{{r.getDuration}}</td>
					<td>{{r.getEndDatetime ? r.getEndDatetime|date() : 'N/A'}}</td>
					<td>
						{% if r.getThreat %}
							<span title="Threat level">{{r.getThreat.threat_level}}</span><span title="Roundstart budget">({{r.getThreat.round_start_budget}})</span>
						{% else %}
							N/A
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
