<div class="round-state-banner text-bg-{{round.getState.cssClass}} fw-bold px-4 py-1">
	<i class="{{round.getState.icon|raw}}"></i>
	{{round.getState.value}}
	{% if 'In progress' != round.getState.value %}
		-
		{{round.getMode|capitalize}}
		ended with
		{{round.getResult|capitalize}}
		{% if round.getDuration %}
			in
			{{round.getDuration}}
		{% endif %}
	{% endif %}
</div>
