{% extends 'tgdb/page.html.twig' %}
{% from 'macros/pagination.html.twig' import pagination %}
{% block breadcrumbs %}
	{{parent()}}
	<li class="breadcrumb-item active">
		<a href="{{url_for('tgdb.player',{ckey:ckey})}}">{{ckey}}</a>
	</li>
	<li class="breadcrumb-item active" aria-current="page">
		<i class="fas fa-book"></i>
		Books by
		{{ckey}}</li>
{% endblock %}
{% block cardHeader %}
	Books by
	{{ckey}}
	(~{{results}}
	books)
{% endblock %}
{% block cardBody %}
	{{pagination(pagination.pages, pagination.currentPage, pagination.url)}}
	{% include 'library/components/listing.html.twig' with {'books':books} only %}
	{{pagination(pagination.pages, pagination.currentPage, pagination.url)}}
{% endblock %}
