{% extends 'tgdb/page.html.twig' %}
{% block breadcrumbs %}
	{{parent()}}
	<li class="breadcrumb-item active" aria-current="page">
		<i class="fas fa-users"></i>
		New Players</li>
{% endblock %}
{% block cardHeader %}
Newly seen ckeys in the last three days
{% endblock %}
{% block cardBody %}
<table class="table table-bordered table-hover table-striped table-sm">
    <thead>
        <tr>
            <th>Ckey</th>
            <th>First Seen</th>
            <th>Last Seen</th>
            <th>Account Joined</th>
            <th title="Ckeys with matching CIDs found in the connection log within the last three days">Recent CID matches <i class="fa-solid fa-circle-info"></i></th>
            <th title="Ckeys with matching IPs found in the connection log within the last three days">Recent IP matches <i class="fa-solid fa-circle-info"></i></th>
            <th title="Ckeys with matching CIDs found in the last recorded CID column of the players table">Last CID matches <i class="fa-solid fa-circle-info"></i></th>
            <th title="Ckeys with matching IPs found in the last recorded CID column of the players table">Last IP matches <i class="fa-solid fa-circle-info"></i></th>
        </tr>
    </thead>
    <tbody>
        {% for p in players %}
            <tr>
                <th><a href="{{url_for('tgdb.player',{ckey: p.ckey})}}">{{p.ckey}}</a></th>
                <td>{{p.firstseen|date()}}</td>
                <td>{{p.lastseen|date()}}</td>
                <td>{{p.accountjoindate}}</td>
                <td>{% for c in p.cid_recent_connection_matches %}
                <a href="{{url_for('tgdb.player',{ckey: c})}}">{{c}}<br>
                {% endfor %}</td>
                <td>{% for c in p.ip_recent_connection_matches %}
                <a href="{{url_for('tgdb.player',{ckey: c})}}">{{c}}<br>
                {% endfor %}</td>
                <td>{% for c in p.cid_last_connection_matches %}
                <a href="{{url_for('tgdb.player',{ckey: c})}}">{{c}}<br>
                {% endfor %}</td>
                <td>{% for c in p.ip_last_connection_matches %}
                <a href="{{url_for('tgdb.player',{ckey: c})}}">{{c}}<br>
                {% endfor %}</td>

            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
