{% extends 'base/index.html.twig' %}
{% block scripts %}
	{{ parent() }}
	{% if  playtime %}
		{# TODO: Move this into webpack  #}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.3/chart.umd.min.js" integrity="sha512-mCXCsj30LV3PLPTIuWjZQX84qiQ56EgBZOsPUA+ya5mWmAb8Djdxa976zWzxquOwkh0TxI12KA4eniKpY3yKhA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	{% endif %}
{% endblock %}
{% block title %}
	{{parent()}}
	-
	{{player.getCkey}}
{% endblock %}
{% block body %}
	{% from 'macros/badge.html.twig' import PlayerBadge %}
	<div class="card">
		<h3 class="card-header">
			{{PlayerBadge(player.getPlayerBadge)}}
		</h3>
		{% if standing %}
			{% include 'player/components/playerStanding.html.twig' %}
		{% endif %}
		<div class="card-body">
			<dic class="row">
				<div class="col-md-9">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Byond Account Registered</th>
								<th>First Seen</th>
								<th>Last Seen</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{player.getAccountJoined|date('Y-m-d')}}</td>
								<td>{{player.getFirstseen|date}}</td>
								<td>{{player.getLastseen|date}}</td>
							</tr>
						</tbody>
					</table>
					{% if player.getFlags %}
						{% include 'player/components/permissionsTable.html.twig' %}
					{% endif %}
				</div>
				<div class="col-md-3">
					<div class="card mb-2">
						<div class="card-header fw-bold">
							Links
						</div>
						<div class="card-body d-grid gap-2">
							<a class="btn btn-success btn-lg" href="{{url_for('player',{ckey:player.getCkey})}}">
								<i class="fas fa-users"></i>
								Public Page</a>
							<a class="btn btn-primary btn-lg" href="{{url_for('tgdb.bans.player',{ckey:player.getCkey})}}">
								<i class="fas fa-gavel"></i>
								Bans</a>
							<a class="btn btn-primary btn-lg" href="{{url_for('tgdb.notes.player',{ckey: player.getCkey})}}">
								<i class="fas fa-envelope"></i>
								Notes & Messages</a>
							<a class="btn btn-primary btn-lg" href="{{url_for('tgdb.ticket.player',{ckey: player.getCkey})}}">
								<i class="fas fa-ticket"></i>
								Tickets</a>
							<hr>
							<span class="text-center">External Services</span>
							<a class="btn btn-primary tgdb-bg color-white" href="https://tgstation13.org/tgdb/playerdetails.php?ckey={{player.getCkey}}" target="_blank">
								View on TGDB</a>
							<a class="btn btn-secondary" href="https://bus.moth.fans/@{{player.getCkey}}" target="_blank">
								View on Mothbus</a>
							<a class="btn btn-secondary" href="https://scrubby.melonmesa.com/ckey/{{player.getCkey}}" target="_blank">
								🐝 View on Scrubby</a>
							<a class="btn btn-secondary" href="https://www.byond.com/members/{{player.getCkey}}" target="_blank">
								View on Byond</a>
							<a class="btn btn-secondary" href="https://centcom.melonmesa.com/viewer/view/{{player.getCkey}}" target="_blank">
								View on CentCom</a>
						</div>
					</div>

					<div class="card">
						<div class="card-header fw-bold">
							Roles played, last 30 days
						</div>
						<div class="card-body">
							{% if  playtime %}
								<canvas id="playtime"></canvas>
								<div id="legend-container"></div>
							{% else %}
								<p class="text-center mb-0">« Not Seen Recently »</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% if  playtime %}
		<script>
			{% include 'player/components/playtimeGraph.js' %}</script>
	{% endif %}
{% endblock %}
