{% extends 'tgdb/page.html.twig' %}
{% from 'macros/badge.html.twig' import PlayerBadge %}
{% block scripts %}
	{{ parent() }}
	{{webpack_entry_script_tags('discordUser')}}
	{% if  playtime %}
		{# TODO: Move this into webpack  #}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.3/chart.umd.min.js" integrity="sha512-mCXCsj30LV3PLPTIuWjZQX84qiQ56EgBZOsPUA+ya5mWmAb8Djdxa976zWzxquOwkh0TxI12KA4eniKpY3yKhA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	{% endif %}
{% endblock %}
{% block breadcrumbs %}
	{{parent()}}
	<li class="breadcrumb-item active" aria-current="page">
		<i class="fas fa-user"></i>
		{{player.getCkey}}</li>
{% endblock %}
{% block title %}
	{{parent()}}
	-
	{{player.getCkey}}
{% endblock %}
{% block cardHeader %}
	{{PlayerBadge(player.getPlayerBadge)}}
{% endblock %}
{% block cardSubHeader %}
	{% if standing %}
		{% include 'player/components/playerStanding.html.twig' %}
	{% endif %}
{% endblock %}
{% block cardBody %}
	<dic class="row">
		<div class="col-md-9">
			{% include 'player/components/chronoData.html.twig' %}
			{% if player.getFlags %}
				{% include 'player/components/permissionsTable.html.twig' %}
			{% endif %}
			{% include 'player/components/adminActionLinks.html.twig' with {'ckey':player.getCkey} only %}
			<section class="page-section">
				<h5 class="border-bottom border-2 border-primary pb-1">
					Linked Discord Accounts
				</h5>
				<article>
					<div id="discord" data-url="{{url_for('tgdb.player.discord',{ckey:player.getCkey})}}"></div>
				</article>
			</section>
		</div>
		<div class="col-md-3">
			<div class="card mb-2">
				<div class="card-header fw-bold">
					Links
				</div>
				<div class="card-body d-grid gap-2">
					<a class="btn btn-success btn-lg" href="{{url_for('player',{ckey:player.getCkey})}}">
						<i class="fas fa-users"></i>
						Public Page</a>
					<a class="btn btn-primary btn-lg" href="{{url_for('tgdb.bans.player',{ckey:player.getCkey})}}">
						<i class="fas fa-gavel"></i>
						Bans</a>
					<a class="btn btn-primary btn-lg" href="{{url_for('tgdb.notes.player',{ckey: player.getCkey})}}">
						<i class="fas fa-envelope"></i>
						Notes & Messages</a>
					<a class="btn btn-primary btn-lg" href="{{url_for('tgdb.ticket.player',{ckey: player.getCkey})}}">
						<i class="fas fa-ticket"></i>
						Tickets</a>
					<hr>
					<span class="text-center">External Services</span>
					<a class="btn btn-primary tgdb-bg color-white" href="https://tgstation13.org/tgdb/playerdetails.php?ckey={{player.getCkey}}" target="_blank">
						View on TGDB</a>
					<a class="btn btn-secondary" href="https://bus.moth.fans/@{{player.getCkey}}" target="_blank">
						View on Mothbus</a>
					<a class="btn btn-secondary" href="https://scrubby.melonmesa.com/ckey/{{player.getCkey}}" target="_blank">
						🐝 View on Scrubby</a>
					<a class="btn btn-secondary" href="https://www.byond.com/members/{{player.getCkey}}" target="_blank">
						View on Byond</a>
					<a class="btn btn-secondary" href="https://centcom.melonmesa.com/viewer/view/{{player.getCkey}}" target="_blank">
						View on CentCom</a>
				</div>
			</div>

			<div class="card">
				<div class="card-header fw-bold">
					Roles played, last 30 days
				</div>
				<div class="card-body">
					{% if  playtime %}
						<canvas id="playtime"></canvas>
						<div id="legend-container"></div>
					{% else %}
						<p class="text-center mb-0">« Not Seen Recently »</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div></div>{% if  playtime %}
<script>
	{% include 'player/components/playtimeGraph.js' %}</script>{% endif %}{% endblock %}
