{% extends 'tgdb/page.html.twig' %}
{% from 'macros/badge.html.twig' import PlayerBadge %}
{% block scripts %}
	{{ parent() }}
	{{webpack_entry_script_tags('discordUser')}}
	{% if  playtime %}
		{# TODO: Move this into webpack  #}
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.3/chart.umd.min.js" integrity="sha512-mCXCsj30LV3PLPTIuWjZQX84qiQ56EgBZOsPUA+ya5mWmAb8Djdxa976zWzxquOwkh0TxI12KA4eniKpY3yKhA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	{% endif %}
{% endblock %}
{% block breadcrumbs %}
	{{parent()}}
	<li class="breadcrumb-item active" aria-current="page">
		<i class="fas fa-user"></i>
		{{player.getCkey}}</li>
{% endblock %}
{% block title %}
	{{parent()}}
	-
	{{player.getCkey}}
{% endblock %}
{% block cardHeader %}
	{{PlayerBadge(player.getPlayerBadge)}}
{% endblock %}
{% block cardSubHeader %}
	{% if standing %}
		{% include 'player/components/playerStanding.html.twig' %}
	{% endif %}
{% endblock %}
{% block cardBody %}
	<dic class="row">
		<div class="col-12 col-lg-9">
			{% include 'player/components/chronodata.html.twig' %}
			{% include 'player/components/ahelpStats.html.twig' %}

			{% if player.getFlags %}
				{% include 'player/components/permissionsTable.html.twig' %}
			{% endif %}
			{% include 'player/components/adminActionLinks.html.twig' with {'ckey':player.getCkey} only %}
			{% include 'player/components/knownAlts.html.twig' with {'alts':alts} only %}
			<div class="table-responsive">
				<section class="page-section">
					<h5 class="border-bottom border-2 border-primary pb-1">
						Linked Discord Accounts
					</h5>
					<article>
						<div id="discord" data-url="{{url_for('tgdb.player.discord',{ckey:player.getCkey})}}"></div>
					</article>
				</section>
			</div>
			{% if logs %}
				{% include 'player/components/adminLogList.html.twig' with {'logs':logs} only %}
			{% endif %}
		</div>
		<div class="col-12 col-lg-3">
			{% include 'player/components/sidebarLinks.html.twig' %}

			<div class="card">
				<div class="card-header fw-bold">
					Roles played, last 30 days
				</div>
				<div class="card-body">
					{% if  playtime %}
						<canvas id="playtime"></canvas>
						<div id="legend-container"></div>
						<script>
	{% include 'player/components/playtimeGraph.js' %}</script>
					{% else %}
						<p class="text-center mb-0">« Not Seen Recently »</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div></div>{% if  playtime %}
	{% endif %}{% endblock %}
