<hr>
<p class="mb-2">Interested in appealing this ban? Copy and paste the text below to get started:</p>
<p class="border border-gray p-4 user-select-all position-relative" x-data="{text: $el.textContent}">
	<a class="position-absolute top-0 end-0 btn btn-secondary rounded-0 rounded-start rounded-bottom" href="" @click.prevent="window.navigator.clipboard.writeText(text)" data-bs-toggle="tooltip" data-bs-title="Click to copy"><i class="fas fa-copy"></i></a>
[b]<strong>BYOND account:</strong>[/b] {{ban.ckey}}<br>
[b]<strong>Character name:</strong>[/b] <span class="badge text-bg-danger" style="--bs-bg-opacity: .5;">« Fill this in on your own! »</span><br>
[b]<strong>Ban type:</strong>[/b] <kbd>{{ban.role|join("</kbd>, <kbd>")|raw}}</kbd><br>
[b]<strong>Ban length:</strong>[/b] {{ban.expiration ? ban.minutes ~ ' minutes' : 'Permanent'}}<br>
[b]<strong>Ban reason:</strong>[/b] {{ban.reason}}<br>
[b]<strong>Time ban was placed:</strong>[/b] {{ban.bantime|date('Y-m-d H:i:s')}}<br>
[b]<strong>Server you were playing on when banned:</strong>[/b] {{ban.server.identifier}}<br>
[b]<strong>Round ID in which ban was placed:</strong>[/b] [url=https://statbus.space/rounds/{{ban.round}}]{{ban.round}}[/url]<br>
[b]<strong>Your side of the story:</strong>[/b]
<span class="badge text-bg-danger" style="--bs-bg-opacity: .5;">« Fill this in on your own! »</span><br>
[b]<strong>Why you think you should be unbanned:</strong>[/b]
<span class="badge text-bg-danger" style="--bs-bg-opacity: .5;">« Fill this in on your own! »</span><br>
[b]<strong>References of good conduct:</strong>[/b]
<span class="badge text-bg-danger" style="--bs-bg-opacity: .5;">« Fill this in on your own! »</span><br>
<span style="font-size: 75%">[size=50]Part of this appeal was generated on [url=https://statbus.space]Statbus[/url] {{app.version}}[/size]</span>
</p>
<p class="mt-2">
	<i class="fas fa-lightbulb text-warning"></i>
	Be sure to fill in the fields highlighted in red on your own! The HTML formatting won't be copied!
</p>

