
{% for role in roles %}
    {% set enum = enum('\\App\\Enum\\Jobs').tryFrom(role) %}
    {% if not enum %}
    <span class="badge text-bg-secondary">{{role}}</span>{{loop.last ? '' : ','}}
    {% else %}
    <span class='badge' style="background: {{enum.getColor}}; color: {{enum.getForeColor}}">{{enum.value}}</span>{{loop.last ? '' : ','}}
    {% endif %}
    
{% endfor %}