{% extends 'base/index.html.twig' %}
{% block body %}
	{% from 'macros/badge.html.twig' import PlayerBadge %}
	<div class="card">
		<h3 class="card-header">
			Admin Roster
		</h3>
		<div class="card-body">
			<p>Admin activity is shown for the last 30 days</p>
			<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="sticky top-0 align-bottom">Admin</th>
						<th>Rank</th>
						<th>Last Seen</th>
						<th>Feedback</th>
						{% for p in perms|keys %}
							<th class="sticky top-0 text-right align-text-bottom vertical-table-label">
								<span class="transform rotate-180" style="writing-mode: vertical-lr">{{p}}</span>
							</th>
						{% endfor %}
					</tr>
				</thead>
				{% for a in admins %}
					<tr>
						<th
							rowspan="2" class="align-middle text-center" style="{{a.getBadge.getStyle}}">
							<i class="fa fa-{{a.getBadge.getIcon}}"></i>
							{{a.getCkey}}
						</th>
						<th class="align-middle">
							<span>
								<i class="fa fa-{{a.getBadge.getIcon}}"></i>
								{{a.getRank}}</span>

						</th>
						<td>
							{% if a.lastseen %}
								<time>{{a.Lastseen|date('Y-m-d')}}</time>
							{% else %}
								Never
							{% endif %}
						</td>
						<td>
							{% if a.getFeedback %}
								<a href="{{a.getFeedback}}" target="_blank">Feedback Thread</a>
							{% endif %}
						</td>
						{% for name, bits in perms %}
							{% if a.getFlags b-and bits %}
								<td class="text-success text-center text-lg leading-none align-middle" data-bs-toggle="tooltip" data-bs-title="{{a.ckey}} has {{name}}" rowspan="2">
									<i class="far fa-check-circle"></i>
								</td>
							{% else %}
								<td class="text-danger text-center text-lg leading-none align-middle" data-bs-toggle="tooltip" data-bs-title="{{a.ckey}} does not have {{name}}" rowspan="2">
									<i class="far fa-times-circle"></i>
								</td>
							{% endif %}
						{% endfor %}
					</tr>
					<tr>
						<td colspan="3">
							{% if a.getPlaytime %}
								{% set total = a.getPlaytime|reduce((carry, v, k)=> carry + v) %}
								<div class="progress" role="progressbar">
									{% for role, minutes in a.getPlaytime %}
										{% set width = (minutes / total) * 100 %}
										{% set enum = enum('\\App\\Enum\\Jobs').tryFrom(role) %}
										<div class="progress-bar" style="width:{{width}}%; background:{{enum.getColor}};" data-bs-toggle="tooltip" data-bs-title="{{role}} - {{minutes}} minutes">{{role}}</div>
									{% endfor %}
								</div>
							{% else %}
								<p class="text-center mb-0">« No recent play time »</p>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
			</div>
		</div>
	</div>
{% endblock %}
