{% extends 'tgdb/page.html.twig' %}
{% from 'macros/badge.html.twig' import PlayerBadge, BanBadge, ServerBadge, RoundBadge %}
{% block breadcrumbs %}
	<li class="breadcrumb-item">
				<a href="{{url_for('tgdb')}}">TGDB</a>
			</li>
			<li class="breadcrumb-item active">
				<a href="{{url_for('tgdb.player',{ckey:ban.getCkey})}}">{{ban.getCkey}}</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				<a href="{{url_for('tgdb.bans.player',{ckey:ban.getCkey})}}" class="icon-link">
					<i class="fas fa-gavel"></i>
					Bans</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				<i class="fas fa-gavel"></i>
				{{ban.id}}</li>
{% endblock %}
{% block cardHeader %}
	{% include 'bans/components/banHeader.html.twig' %}
{% endblock %}
{% block cardSubHeader %}
	{% if ban.roleBans %}
	<div class="text-bg-info px-3 py-1">
		<strong>Heads Up!</strong>
		This ban applies to multiple roles. The following bans are grouped into this ban:
		{{ban.banIds}}
	</div>
	{% endif %}
{% endblock %}
{% block cardBody %}
	{% include 'bans/components/banBody.html.twig' %}
{% endblock %}
