{% extends 'tgdb/page.html.twig' %}
{% from 'macros/badge.html.twig' import PlayerBadge, BanBadge, ServerBadge, RoundBadge %}
{% block breadcrumbs %}
	<li class="breadcrumb-item">
				<a href="{{url_for('tgdb')}}">TGDB</a>
			</li>
			<li class="breadcrumb-item active">
				<a href="{{url_for('tgdb.player',{ckey:ban.getCkey})}}">{{ban.getCkey}}</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				<a href="{{url_for('tgdb.bans.player',{ckey:ban.getCkey})}}" class="icon-link">
					<i class="fas fa-gavel"></i>
					Bans</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">
				<i class="fas fa-gavel"></i>
				{{ban.id}}</li>
{% endblock %}
{% block cardHeader %}
	<div>
		<i class="fas fa-gavel"></i>
		{{BanBadge(ban.getStatus)}}
		ban from
		<span class='badge text-bg-secondary'>{{ban.role|join("</span>, <span class='badge text-bg-secondary'>")|raw}}</span>
	</div>
	<div>
	{{ban.bantime|date()}}
	</div>
{% endblock %}
{% block cardSubHeader %}
	{% if ban.roleBans %}
	<div class="text-bg-info px-3 py-1">
		<strong>Heads Up!</strong>
		This ban applies to multiple roles. The following bans are grouped into this ban:
		{{ban.banIds}}
	</div>
	{% endif %}
{% endblock %}
{% block cardBody %}
	This ban was placed by
	{{PlayerBadge(ban.getAdminBadge)}}
	on
	{{ServerBadge(ban.getServer)}}
	during
	{{RoundBadge(ban.round)}}
	with the following reason:
	<blockquote>{{ban.reason}}</blockquote>
	{% if 'Lifted' == ban.getStatus.value %}
		<p>
			<i class="fa-solid fa-user-check text-success"></i>
			Unbanned by
			{{PlayerBadge(ban.unbannerBadge)}}
			<time>{{ban.unbanned_datetime|date('Y-m-d H:i:s')}}</time>
		</p>
	{% endif %}
	{% include 'bans/components/advised.html.twig' %}
{% endblock %}
