<span>{{app.name}}
	{{app.version}}
	|
	<a href="{{url_for('changelog')}}">Changelog</a>
	|
	<a href="{{url_for('privacy')}}">Privacy Policy</a>
	|
	<a class="icon-link" href="{{current_url()}}?json=true" title="View this page as JSON" data-bs-toggle="modal" data-bs-target="#globalJsonModal"><i class="fa-solid fa-terminal"></i></a>
</span>
{% if debug %}
	<a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#context" role="button">
		Show Context
	</a>
{% endif %}
<span>
	<a class="icon-link" href="https://github.com/{{app.github}}" target="_blank">
		<i class="fab fa-github" aria-hidden="true"></i>
		Github</a>
	|
	<a class="icon-link" href="{{url_for('discord')}}" target="_blank">
		<i class="fab fa-discord" aria-hidden="true"></i>
		Discord</a>
	|
	<a class="icon-link" href="{{app.patreon}}" target="_blank">
		<i class="fab fa-patreon" aria-hidden="true"></i>
		Patreon</a>
	|
	<a class="icon-link" href="{{app.status}}" target="_blank">
		<i class="fa-solid fa-signal" aria-hidden="true"></i>
		Status</a>
</span>
