<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	{% if user %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="fa-solid fa-person"></i>
				My Data
			</a>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" href="{{url_for('user.bans')}}">
						<i class="fa-solid fa-gavel"></i>
						My Bans</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{url_for('user.tickets')}}">
						<i class="fa-solid fa-ticket"></i>
						My Tickets</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{url_for('user.notes')}}">
						<i class="fa-solid fa-envelope"></i>
						My Notes & Messages</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{url_for('round.single',{id:user.getLastRound})}}">
						<i class="fa-solid fa-circle"></i>
						My Last Round</a>
				</li>
			</ul>
		</li>
	{% endif %}
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
			<i class="fa-solid fa-circle-info"></i>
			Info
		</a>
		<ul class="dropdown-menu">
			<li>
				<a class="dropdown-item" href="{{url_for('admins')}}">
					<i class="fa-solid fa-users"></i>
					Admin Roster</a>
			</li>
			<li>
				<a class="dropdown-item" href="{{url_for('adminlogs')}}">
					<i class="fa-solid fa-list-ul"></i>
					Admin Rank Logs</a>
			</li>
		</ul>
	</li>
</ul>
<form class="d-flex" role="search" action="{{url_for('search')}}" id="globalSearchForm" data-searchDest={{user.has('ADMIN') ? '/tgdb/player' : '/player'}}>
	<input class="form-control form-control-sm" type="search" id="globalSearch" placeholder="Type / to search" aria-label="Search">
	<button class="visually-hidden" type="submit">Search</button>
</form>
