<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	{% if user %}
		{% if user.has('ADMIN') %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<span class="text-bg-danger px-2 py-1">
						<i class="fa-solid fa-shield-halved"></i>
						TGDB
					</span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" href="{{url_for('tgdb.bans')}}">
							<i class="fa-solid fa-gavel"></i>
							Bans</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{url_for('tgdb.notes')}}">
							<i class="fa-solid fa-envelope"></i>
							Notes & Messages</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{url_for('tgdb.tickets')}}">
							<i class="fa-solid fa-ticket"></i>
							Tickets</a>
					</li>
					<li>
						<a class="dropdown-item" href="{{url_for('tgdb.tickets.live')}}">
							<i class="fa-solid fa-circle text-danger"></i>
							Live Feed</a>
					</li>
				</ul>
			</li>
		{% endif %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				<i class="fa-solid fa-person"></i>
				My Data
			</a>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" href="{{url_for('player',{ckey:user.getCkey})}}">
						<i class="fa-solid fa-user"></i>
						My Player Page</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{url_for('user.bans')}}">
						<i class="fa-solid fa-gavel"></i>
						My Bans</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{url_for('user.tickets')}}">
						<i class="fa-solid fa-ticket"></i>
						My Tickets</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{url_for('user.notes')}}">
						<i class="fa-solid fa-envelope"></i>
						My Notes & Messages</a>
				</li>
				<li>
					<a class="dropdown-item" href="{{url_for('round.single',{id:user.getLastRound})}}">
						<i class="fa-solid fa-circle"></i>
						My Last Round</a>
				</li>
			</ul>
		</li>
	</li>
{% endif %}
<li class="nav-item">
	<a class="nav-link" href="{{url_for('library')}}">
		<i class="fa-solid fa-book"></i>
		Library</a>
</li>
<li class="nav-item">
	<a class="nav-link" href="{{url_for('rounds')}}">
		<i class="fa-solid fa-circle"></i>
		Rounds</a>
</li>
<li class="nav-item dropdown">
	<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		<i class="fa-solid fa-circle-info"></i>
		Info
	</a>
	<ul class="dropdown-menu">
		<li>
			<a class="dropdown-item" href="{{url_for('admins')}}">
				<i class="fa-solid fa-users"></i>
				Admin Roster</a>
		</li>
		<li>
			<a class="dropdown-item" href="{{url_for('adminlogs')}}">
				<i class="fa-solid fa-list-ul"></i>
				Admin Rank Logs</a>
		</li>
	</ul>
</li></ul><form role="search" action="{{url_for('search')}}" id="globalSearchForm" data-searchdest={{user.has('ADMIN') ? '/tgdb/player' : '/player'}}>
<input class="form-control form-control-sm" type="search" id="globalSearch" placeholder="Type / to search" aria-label="Search">
<button class="visually-hidden" type="submit">Search</button></form>
