{% extends 'base/index.html.twig' %}
{% block body %}
	<div class="card">
		<h1 class="card-header text-bg-danger">
			ERROR
			{{error.getCode}}
		</h1>
		<div class="card-body">
			{% include ['errors/' ~ error.getCode ~ '.html.twig', 'errors/generic.html.twig'] %}
			{% if display_error_details %}
				<hr>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<strong>{{error.message}}<br>
							<code>{{error.file}}:{{error.line}}</code>
						</strong>
					</li>
					{% for e in error.trace %}
						<li class="list-group-item">
							<code>{{e.file}}:{{e.line}}</code><br>
							<span class="font-monospace">{{e.class}}{{e.type}}{{e.function}}</span>
						</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
{% endblock %}
