{% from 'macros/badge.html.twig' import JobBadge %}
<div class="card border-{{t.key.getColor}}">
<div class="card-body d-flex justify-content-between">
		{% set diff = round.getStartDatetime.diff(t.timestamp) %}
		<span>
			<i class="{{t.key.getIcon}}"></i>
			<a href="{{url_for('player',{'ckey':t.data.byond_key})}}">{{t.data.byond_key}}</a> joins the round {{t.data.latejoin ? 'late'}} playing as {{t.data.character}}, the {{JobBadge(t.data.job)}} {{t.data.antagonist ? JobBadge(t.data.antagonist) }}
			{{t.coords ?: ''}}</span>
		<code class="time-elapsed">{{diff|date('%R%H:%I:%S')}}</code>
        </div>
</div>