{% extends 'base/components/section.html.twig' %}
{% block header %}
Permissions
{% endblock %}

{% block body %}
<div class="table-responsive">
<table class="table table-bordered">
	<thead>
		<tr>
			{% for p in perms|keys %}
				<th class="sticky top-0 text-right align-center vertical-table-label text-center">
					<span style="writing-mode: vertical-lr">{{p}}</span>
				</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		<tr>
			{% for name, bits in perms %}
				{% if player.getFlags b-and bits %}
					<td class="text-center text-lg leading-none align-middle table-success" title="{{player.getCkey}} has {{name}}" rowspan="2">
						<i class="far fa-check-circle"></i>
					</td>
				{% else %}
					<td class="text-center text-lg leading-none align-middle table-danger" title="{{player.getCkey}} does not have {{name}}" rowspan="2">
						<i class="far fa-times-circle"></i>
					</td>
				{% endif %}
			{% endfor %}
		</tr>
	</tbody>
</table>
</div>
{% endblock %}