<div class="px-3 py-1 text-bg-{{standing.status.getCssClass}}"><strong><i class="fas fa-{{standing.status.getIcon}}"></i> {{standing.status.value}}</strong>{% if standing.bans|length %}
	(<a href="{{url_for('tgdb.bans.player',{ckey:player.getCkey})}}">{{standing.bans|length}}
	active bans</a>){% endif %}</div>
