{% extends 'base/page.html.twig' %}
{% from 'macros/badge.html.twig' import PlayerBadge, BanBadge, ServerBadge, RoundBadge %}
{% block breadcrumbs %}
	{{parent()}}
	<li class="breadcrumb-item">
		<a href="{{url_for('user.tickets')}}">My Tickets</a>
	</li>
	<li class="breadcrumb-item" aria-current="page">
		<a href="{{url_for('round.single',{id:ticket[0].getRound})}}" class="icon-link"><i class="fas fa-circle"></i>
		{{ticket[0].getRound}}</li></a>
	<li class="breadcrumb-item active" aria-current="page">
		<i class="fas fa-ticket"></i>
		{{ticket[0].getTicket}}</li>
{% endblock %}
{% block cardHeader %}
	<span><i class="fas fa-ticket"></i> Ticket #{{ticket[0].getTicket}} during {{RoundBadge(ticket[0].getRound)}}
		on {{ServerBadge(ticket[0].getServer)}}
	</span>
	<span>{{ticket[0].getTimestamp|date}}</span>
{% endblock %}
{% block cardSubHeader %}
{% if ticket[0].isUrgent %}
<div class="text-bg-danger px-3 py-1">
		This ticket was marked as URGENT!
	</div>
{% endif %}
{% endblock %}
{% block cardBody %}
	<div class="row">
		<div class="col-md-8">
			{% for t in ticket %}
				{% if t.getAction.isAction %}
					{% include 'tickets/components/ticketAction.html.twig' %}
				{% else %}
					{% include 'tickets/components/ticketBody.html.twig' %}
				{% endif %}
				{% if not loop.last %}
					<div class="ticket-timeline border-start border-2 py-3 text-end">
						{% set diff = ticket[loop.index].getTimestamp.diff(t.getTimestamp) %}
						<code>{{diff|date('%H:%I:%S')}}</code>
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="col-md-4">
			{% include 'tickets/components/ticketSidebar.html.twig' %}
		</div>
	</div>

	{% include 'tickets/components/ticketForumEmbed.html.twig' %}
{% endblock %}
