{% extends 'tgdb/page.html.twig' %}
{% from 'macros/badge.html.twig' import PlayerBadge, ServerBadge, RoundBadge %}
{% from 'macros/pagination.html.twig' import pagination %}
{% block breadcrumbs %}
	{{parent()}}
            <li class="breadcrumb-item active">
				<a href="{{url_for('tgdb.player',{ckey:ckey})}}">{{ckey}}</a>
			</li>
	<li class="breadcrumb-item active" aria-current="page">
		<i class="fas fa-ticket"></i>
		Tickets</li>
{% endblock %}
{% block cardHeader %}
	<span>
		<i class="fas fa-ticket"></i>
		Tickets</span>
{% endblock %}
{% block cardBody %}
	{{pagination(pagination.pages, pagination.currentPage, pagination.url)}}
	<div class="list-group list-group-flush my-4">
		{% include 'tickets/components/ticketList.html.twig' %}
	</div>
	{{pagination(pagination.pages, pagination.currentPage, pagination.url)}}
{% endblock %}
