{% extends 'base/page.html.twig' %}
{% from 'macros/badge.html.twig' import PlayerBadge, RoundBadge %}
{% block breadcrumbs %}
	{{parent()}}
	{% if term %}
		<li class="breadcrumb-item">
			<a href="{{url_for('library')}}?clear">Library</a>
		</li>
		<li class="breadcrumb-item active" aria-current="page">
			<a href="{{url_for('library')}}">Search Results</a>
		</li>
	{% else %}
		<li class="breadcrumb-item active" aria-current="page">
			<a href="{{url_for('library')}}">Library</a>
		</li>
	{% endif %}
	<li class="breadcrumb-item active" aria-current="page">{{book.id}}</li>
{% endblock %}
{% block cardHeader %}
	<span>{{book.title}}</span>
	<span>By
		{{book.author}}</span>
{% endblock %}
{% block cardBody %}
	<section class="bg-white border p-4 text-dark position-relative overflow-hidden {{book.isDeleted ? 'book-deleted'}}">
		<article class="border-start border-2 border-primary p-4">
			{{book.content|raw}}
		</article>
		<p class="mt-4">Written by
			{{book.author}}
			on
			{{book.dateTime|date('Y-m-d')}}
			during
			{{RoundBadge(book.round)}}</p>
	</section>
	<div class="d-grid my-4">
	<button class="btn btn-danger btn-lg uppercase" data-bs-toggle="modal" data-bs-target="#goldModal">Ban the Author of This Work</button>
	</div>
	{% if user.has('ADMIN') %}
		<div class="card mt-4 border-danger">
			<div class="card-header d-flex justify-content-between align-items-center">
				<span class="fw-bold">Admin Information</span>
				{% if book.isDeleted %}
				<a href="#" class="btn btn-success uppercase text-white" data-bs-toggle="modal" data-bs-target="#deleteModal">Undelete Book</a>
				{% else %}
				<a href="#" class="btn btn-danger uppercase" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Book</a>
				{% endif %}
			</div>
			<div class="card-body">
				<table class="table table-bordered">
					<tr>
						<th>Actual Author</th>
						<td>{{PlayerBadge(book.authorBadge)}}</td>
					</tr>
					<tr>
						<th>Status</th>
						<td class="text-center {{book.isDeleted ? 'table-danger fw-bold' : 'table-success'}}">{{book.isDeleted ? '** DELETED **' : 'Published'}}</td>
					</tr>
				</table>
				{% include 'library/components/actionList.html.twig' with {'actions':actions} only %}
			</div>
		</div>
		<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
				{% if book.isDeleted %}
					<div class="modal-body p-4 text-center">
						<h5 class="mb-0">Undelete This Book?</h5>
						<p class="mb-0">These actions are logged.</p>
					</div>
				{% else %}
					<div class="modal-body p-4 text-center">
						<h5 class="mb-0">Delete This Book?</h5>
						<p class="mb-0">Books can be un-deleted. These actions are logged.</p>
					</div>
				{% endif %}
					<form class="modal-footer flex-nowrap p-0 mb-0 overflow-hidden" action="?delete=true" method="POST">
						<input type="hidden" class="visually-hidden" name="delete" value="true"/>
						<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">Cancel</button>
						{% if book.isDeleted %}
							<button type="submit" class="btn btn-lg btn-success fs-6 text-decoration-none col-6 py-3 m-0 rounded-0  text-white">
							<strong>Yes, Undelete</strong>
						</button>
						{% else %}
						<button type="submit" class="btn btn-lg btn-danger fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 ">
							<strong>Yes, Delete</strong>
						</button>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	{% endif %}

	<div class="modal fade" id="goldModal" tabindex="-1" aria-labelledby="goldModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p class="mb-0">Sorry friend, this feature requires Statbus <span class="text-yellow fw-bold fst-italic"><i class="fa-solid fa-certificate"></i>GOLD</span>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a type="button" class="btn btn-primary" href="https://www.youtube.com/watch?v=9whQIbNmu9s" target="_blank">Want to know more?</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
